.form1{
    color: $texto;
    width: 900px;
    display: block;
    padding: 30px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    
}
.form1 div{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: $fondoForm;
}
.controls{
    width: 300px;
    display: block;
    font-size: 18px;
    font-family: 'Caveat', cursive;
}
.legend1{
    font-size: 30px;
    text-align: center;
}
.descripcontac{
    color: $textinfo;
    font-size: 1.5rem;
    text-align: center;
}