.form1{
    color: rgb(255, 255, 255);
    width: 900px;
    display: block;
    padding: 30px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    
}
.form1 div{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: rgba(38, 126, 122, 0.368);
}
.controls{
    width: 300px;
    display: block;
    font-size: 18px;
    font-family: 'Caveat', cursive;
}
.legend1{
    font-size: 30px;
    text-align: center;
}