*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import "body.scss";
@import "header.scss";
@import "mainindex";
@import "mainproductos";
@import "mainpromociones";
@import "mainpormayor";
@import "maincontacto";
@import "footer";
@import "mediaquerys";